<!DOCTYPE html>
<html lang="{{ pageLanguage }}">
    <head>
        {{ includeCode('header') }}
    </head>
    <body class="{{ rootElementClass }}">
        {{ renderer.component(boxes.logo) }}
        {{ renderer.componentWithMaster(componentWithMaster) }}
        {{ includeCode('footer') }}
    </body>
</html>
