<div class="{{ rootElementClass }}">
    <div class="{{ 'mobileTitle'|bemClass }}">
        <a href="/" class="{{ 'logo'|bemClass }}">VT</a>
        <div class="{{ 'title'|bemClass }}">
            {{ pageName }}
        </div>
        <div class="{{ 'languages'|bemClass }}">
            <img class="{{ 'icon'|bemClass }}" src="/assets/web/images/language.png" width="35" height="35">
        </div>
        <a href="/kwf/user/logout" class="{{ 'logout'|bemClass }}">
            <img class="{{ 'icon'|bemClass }}" src="/assets/web/images/logout.png" height="30" width="28">
        </a>
    </div>
    {{ renderer.component(languages) }}
    {{ renderer.component(menu) }}
</div>
