<div class="{{ rootElementClass }}">
    {% for category in categories %}
        <div class="{{ 'category'|bemClass }}">
            <div class="{{ 'categoryTitle'|bemClass }}">{{ category.categoryTitle }}</div>
            <div class="{{ 'talks'|bemClass }}">
                {% for talkComponent in category.talkComponents %}
                    {{ renderer.component(talkComponent) }}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
